@model CollegeProject.Models.ViewModelDemo

@{
    ViewBag.Title = "Index";
}

<h2><strong>Employees</strong></h2>


<!--Div Container-->
<br />
<!--Menu-->
<div id="name"></div>
<br />
<div id="gridContainer"> </div>
<div id="eventContainer"> </div>
<div id="gridContainer1"></div>



