
@{
    ViewBag.Title = "Index";
}

<h2>JQuery</h2>

<div class="form">
    <div>
        <div class="label">Catalog:</div>
        <div id="menu"></div>
        <div id="product-details">
            <img src="" />
            <div class="name"></div>
            <div class="price"></div>
        </div>
    </div>

</div>